:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #FF5100;
    --secondary-color: #FF5100;
    --heading-color: #FF5100;
    --card-bg: #f5f5f5;
    --footer-bg: #0b0b0d;
    --footer-text: #fff;
    --button-bg: #FF5100;
    --button-text: #fff;
    --border-color: #e0e0e0;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --primary-color: #FF5100;
    --secondary-color: #FF5100;
    --heading-color: #FF5100;
    --card-bg: #232323;
    --footer-bg: #18181b;
    --footer-text: #fff;
    --button-bg: #333;
    --button-text: #fff;
    --border-color: #333;
}

html[data-theme="dark"] img.filter-dark {
    filter: brightness(200%) invert(1) grayscale(1);
}

html[data-theme="dark"] .site-nav {
    background-color: #18181b;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
}

.site-nav {
    padding: 10px;
    /* background-color: var(--bg-color); */
    border-bottom: 1px solid var(--border-color);
}

.logo img {
    vertical-align: middle;
}

.site-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-menu li {
    display: inline-block;
    width: 100%;
}

.site-menu a {
    text-decoration: none;
    color: var(--text-color);
}

.site-menu a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.site-menu .nav-link:focus,
.site-menu .nav-link:hover {
    color: var(--primary-color);
}


.site-menu .dropdown-menu a {
    text-decoration: none;
    color: #000000;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: var(--primary-color);
    color:#fff;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: var(--primary-color);
}


.theme-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
}

/* Hide default icon */
.navbar-toggler-icon {
    display: none;
}

.custom-toggler {
    border: none;
    background: transparent;
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 1001;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--text-color);
    /* Change to white if using dark navbar */
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.top-bar {
    top: 0;
}

.middle-bar {
    top: 50%;
    transform: translateY(-50%);
}

.bottom-bar {
    bottom: 0;
}

/* Animate into X when navbar is open */
.navbar-toggler[aria-expanded="true"] .top-bar {
    top: 50%;
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .middle-bar {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .bottom-bar {
    top: 50%;
    transform: rotate(-45deg);
    bottom: auto;
}

.navbar-toggler:focus {
    box-shadow: none;
}

header {
    /* position: absolute; */
    z-index: 999;
    width: 100%;
}

.animateHeader {
    animation: sdb05 1.8s;
    box-shadow: 2px 0px 8px 1px #e7a4d6a6;
}

@keyframes sdb05 {
    0% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
    }
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 20%);
    z-index: 999;
    background: #fff;
}